nav{
    background-color:darkslategrey;
    height:100vh;
    padding-top:15vh;
}

a{
    color:white;
    text-align:center;
}
a:hover{
    color:black;
}
.active{
    background-color:white;
    color:black;
    pointer-events: none;
    transition:.25s;
}
#deletepage{
    z-index:2;
}
.disabled{
    text-decoration:none;
}

.template{
    display:none;
}
/*
Styling for the view portion of the page
*****************************************
*****************************************
*/
#viewpage{
    overflow-y: auto;
    
}
h5{
    margin-top:1vh;
    padding-bottom:1vh;
    float:left;
}
p{
    margin-top:1vh;
}
.card{
    margin-top:2vh;
    height:26vh;
}

.carddeck{
    height:85vh;
}
/*
Styling for the add contact form
********************************
********************************
*/
#addpage{
    z-index: 2;
    height: 55vh;
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: .10em;
    position: absolute;
    top: 16vh;
    left: 15.5vw;
    border-radius: 15px;
    padding-top:1%;
}
input{
    margin:2%;
}

.form-control{
    margin:0;
    margin-top:5%;
}
.form-group{
    margin-top: 2rem;
}

.btn-primary{
    background-color:darkgray;
    border-color:darkgray;
}

#updatepage{
    
}
#searchbar{
    margin:0%;
}


#searchpage{
    margin-top: 1%;
    margin-left: 4%;
}

.buttongroup{
    margin-left: 32vh;
    margin-top: -58vh;
}

.inputstyle{
    margin:0;
}